<!-- 초기세팅되는 테마의 메인 구성을 처음 연결되는 자료와 중심으로 보여줍니다. -->
<section class="text-gray-600 body-font">
  <div class="container px-5 pt-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h2 class="text-xs text-blue-500 tracking-widest font-medium title-font mb-1">File Browse</h2>
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">아카이브의 가장 작은 검색단위를 아이템(item)으로 정의합니다.</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">아래 화면은 내가 관리하던 클라우드 폴더와 엑셀에 포함되어 있는 Data/Record를 초기에 구성한 화면입니다. items는 File을 그대로 탐색하는 화면 / 검색화면 / 사용자의 페이지 구성에 도움을 주는 소개, 포스트, System-Design-UI 페이지를 그대로 노출합니다. </p>
    </div>
  </div>
</section>
<div class="flex flex-wrap -mb-4 md:mb-0">
  <div class="w-full md:w-1/4 px-5 py-5 mb-4 md:mb-0 bg-gray-100">
    {{ partial "app/browse-aside-default.html" . }}
  </div>
  <div class="w-full h-full md:w-3/4 py-5 mb-4 md:mb-0 bg-gray-100">
    {{ partial "app/browse-breadcrumb.html" . }}
    <div class="bg-white h-full px-5 py-5 rounded-lg">
      <h1 class="text-2xl px-5 py-5">탐색 - {{ .Title }}</h1>
      {{ partial "app/item-list-sections.html" . }}
    </div>
  </div>
</div> 