<!-- navigation -->
<div class="navbar mb-2 shadow-lg bg-accent text-neutral-content rounded-box">
  <div class="flex-none px-2 mx-2">
    <span class="text-lg font-bold">
            Durumi Archive
          </span>
  </div> 
  <div class="flex-1 px-2 mx-2">
    <div class="items-stretch hidden lg:flex">
      <a class="btn btn-ghost btn-sm rounded-btn" href="/">
              Home
            </a> 
      <a class="btn btn-ghost btn-sm rounded-btn" href="/projects">
              Project
            </a> 
      <a class="btn btn-ghost btn-sm rounded-btn">
              About
            </a> 
      <a class="btn btn-ghost btn-sm rounded-btn">
              Contact
            </a>
    </div>
  </div> 
  <div class="flex-none">
    <button class="btn btn-square btn-ghost">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current"><!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> 
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!---->
      </svg>
    </button>
  </div> 
  <div class="flex-none">
    <button class="btn btn-square btn-ghost">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current"><!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> 
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!---->
      </svg>
    </button>
  </div>
</div>

<!-- hero -->
<div class="hero min-h-screen" style="">
  <div class="hero-overlay bg-opacity-60"></div> 
  <div class="text-center hero-content text-white-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">
            Hello there
          </h1> 
      <p class="mb-5">
            Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.
          </p> 
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>

<div><h1>Projects</h1></div>
<!-- project card -->
<div class="card flex-1 shadow-lg">
  <div class="card-body">
    <h2 class="card-title">no border with shadow</h2> 
    <p>Rerum reiciendis beatae tenetur excepturi</p>
  </div>
</div> 

<div class="card flex-1 shadow-lg">
  <div class="card-body">
    <h2 class="card-title">no border with shadow</h2> 
    <p>Rerum reiciendis beatae tenetur excepturi</p>
  </div>
</div> 


<!-- faq -->
<h1>FAQ</h1>
<ul class="accordion accordion-arrow">
  <li class="accordion-item">
    <input id="item-630892" type="checkbox"> 
    <label for="item-630892" class="text-xl font-medium accordion-title">
    Aperiam iure expedita non fugit?
  </label> 
    <div class="accordion-body">
      <p>
          Aperiam iure expedita non fugit. Voluptatem est repellat a aut sit
          est nostrum maiores aut. Voluptas nisi totam eius architecto eius
          mollitia quos assumenda non. Iusto rerum doloribus. Architecto
          dolorum explicabo omnis quidem. Quibusdam ipsam beatae soluta et
          dolores iure ut debitis ad.
        </p>
    </div>
  </li> 
  <li class="accordion-item">
    <input id="item-411927" type="checkbox"> 
    <label for="item-411927" class="text-xl font-medium accordion-title">
    Aperiam iure expedita non fugit?
  </label> 
    <div class="accordion-body">
      <p>
          Aperiam iure expedita non fugit. Voluptatem est repellat a aut sit
          est nostrum maiores aut. Voluptas nisi totam eius architecto eius
          mollitia quos assumenda non. Iusto rerum doloribus. Architecto
          dolorum explicabo omnis quidem. Quibusdam ipsam beatae soluta et
          dolores iure ut debitis ad.
        </p>
    </div>
  </li> 
  <li class="accordion-item">
    <input id="item-79490" type="checkbox"> 
    <label for="item-79490" class="text-xl font-medium accordion-title">
    Aperiam iure expedita non fugit?
  </label> 
    <div class="accordion-body">
      <p>
          Aperiam iure expedita non fugit. Voluptatem est repellat a aut sit
          est nostrum maiores aut. Voluptas nisi totam eius architecto eius
          mollitia quos assumenda non. Iusto rerum doloribus. Architecto
          dolorum explicabo omnis quidem. Quibusdam ipsam beatae soluta et
          dolores iure ut debitis ad.
        </p>
    </div>
  </li>
</ul>


