<div class="photo-of-the-day container mx-auto">
    <h1 class="text-3xl border-b font-medium text-gray-900 dark:text-gray-100 pb-3">오늘의 사진</h1>
    <div class="grid md:grid-cols-2 pt-3">
        <div class="col">
            <h2 class="text-2xl pb-3">{{ .Title }}</h2>
            <p>{{ replace .Params.description "\n" "<br />" }}</p>
            <a class="block text-blue-500 my-3" href="{{ .RelPermalink }}">오늘의 아카이브 더 보기</a>
        </div>
        <div class="col">
            <img src="{{ index .Params.components 0 }}" alt="{{ .Title }}" />
        </div>
    </div>
</div>
